<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="service.name" value="analytics-hadoop" />
    <property name="log.dir" value="${LOG_DIR:-/var/log/inin}" />

    <logger name="org.apache.hadoop.security.UserGroupInformation" level="INFO" />
    <logger name="com.netflix.config" level="WARN" />
    <logger name="org.apache.cassandra" level="WARN" />
	<logger name="org.apache.zookeeper" level="WARN" />
	<logger name="me.prettyprint.cassandra" level="WARN" />
    <logger name="org.apache.cassandra" level="WARN" />
    <logger name="com.inin.analytics" level="WARN" />
    <logger name="com.inin.analytics.hadoop" level="INFO" />
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="service" />
    </root>
</configuration>
