<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="service.name" value="elasticsearch-lambda" />
    <property name="log.dir" value="${LOG_DIR:-/var/log/inin}" />
    <logger name="org.apache.hadoop.security.UserGroupInformation" level="INFO" />
    <logger name="com.netflix.config" level="WARN" />
	<logger name="org.apache.zookeeper" level="WARN" />
	<logger name="com.inin.analytics" level="WARN" />
	
    <property name="default.mdc.format" value="%X{organization}|%X{userid}|%X{correlationId}"/>
    <property name="format.suffix" value="${mdc.format:-${default.mdc.format}}|%thread|%logger{15}"/>

    <!-- Human readable rolling log file for debugging purposes. -->
    <appender name="service"
              class="ch.qos.logback.core.FileAppender">
        <file>${log.dir}/${service.name}.log</file>
        <encoder>
            <immediateFlush>true</immediateFlush>
            <pattern>%date{MMMdd HH:mm:ss.SSS, America/New_York}|%.-1level| %msg |${format.suffix}%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
